.img-upload-pannel {
    width: 44px;
    height: 44px;
    line-height: 52px;
    border: 1px dashed #dcdee2;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
}

.img-upload-view-pannel {
    display: flex;
    align-items: center;
}

.from {
    border-collapse: collapse;
    border: 1px solid #dddee1;
    text-align: left;
    background-color: #fff;
}

.from th {
    border: 1px solid #e6e6e6;
    text-align: right !important;
    height: 38px !important;
    font-size: 14px;
    background-color: #FAFDFF !important;
    padding-right: 10px;
    width: 22%;
    font-weight: normal;
}

.from td {
    border: 1px solid #dddee1;
    height: 38px !important;
    text-align: left !important;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
}