<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.sysUser.mapper.SysUserMapper">
    <select id="queryList" parameterType="Object" resultType="org.jeecg.modules.system.sysUser.entity.SysUser">
		   SELECT
                t1.*,
                group_concat( t2.role_id ) sysRoleIds
            FROM
                sys_user t1
                LEFT JOIN sys_user_role t2 ON t1.id = t2.user_id
            WHERE
                t1.delete_code = '0'

                <if test="sysUser.keyword != null and sysUser.keyword != ''">
                    AND t1.user_name LIKE '%${sysUser.keyword}%' or  t1.real_name LIKE '%${sysUser.keyword}%'
                </if>
                <if test="sysUser.statusCode != null and sysUser.statusCode != ''">
                    AND t1.status_code = #{sysUser.statusCode}
                 </if>

            GROUP BY
                t1.user_name
	</select>
</mapper>