<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.electrical.tBusElectricDeviceWarning.mapper.TBusElectricDeviceWarningMapper">


    <resultMap id="TBusElectricDeviceWarning" type="org.jeecg.modules.electrical.tBusElectricDeviceWarning.entity.TBusElectricDeviceWarning" >
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="device_code" property="deviceCode" jdbcType="VARCHAR"/>
        <result column="warning_time" property="warningTime" jdbcType="TIMESTAMP"/>
        <result column="warning_state" property="warningState" jdbcType="TIMESTAMP"/>
        <result column="warning_value" property="warningValue" jdbcType="TIMESTAMP"/>
        <result column="warning_handel_state" property="warningHandelState" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="rem" property="rem" jdbcType="VARCHAR"/>
        <result column="updater_id" property="updaterId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creater_id" property="createrId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="delete_code" property="deleteCode" jdbcType="VARCHAR"/>
        <result column="status_code" property="statusCode" jdbcType="VARCHAR"/>
        <result column="warningHandelStateName" property="warningHandelStateName" jdbcType="VARCHAR"/>
    </resultMap>



    <select id="getDeviceWarningPageList" parameterType="String"  resultMap="TBusElectricDeviceWarning">
        SELECT
            t1.id,
            t4.device_name AS deviceName,
            t1.device_code,
            t1.warning_time,
            t1.warning_state,
            TRUNCATE ( t1.warning_value, 2 ) warning_value,
            t1.warning_handel_state,
            t2.dict_name AS warningHandelStateName,
            t3.dict_name AS warningStateName
        FROM
            t_bus_electric_device_warning t1
            LEFT JOIN sys_dict t2 ON t1.warning_handel_state = t2.dict_code
            AND t2.dict_type_code = 'warningHandleType'
            AND t2.delete_code = '0'
            AND t2.status_code = '0'
            LEFT JOIN sys_dict t3 ON t1.warning_state = t3.dict_code
            AND t3.dict_type_code = 'warningState'
            AND t3.delete_code = '0'
            AND t3.status_code = '0'
            LEFT JOIN t_bus_electric_device t4 ON t1.device_code = t4.device_code
        WHERE
            T1.delete_code = '0'
            <if test="deviceCode != null and deviceCode != ''">
                AND t1.device_code =  #{deviceCode}
            </if>
            <if test="warningState != null and warningState != ''">
                AND t1.warning_state =  #{warningState}
            </if>
            <if test="warningHandleState != null and warningHandleState != ''">
                AND t1.warning_handel_state =  #{warningHandleState}
            </if>
            ORDER BY warning_time DESC,
            warning_handel_state ASC
	</select>


</mapper>